[submodule "packages/spvm-1/lib/openzeppelin-contracts"]
	path = packages/spvm-1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/spvm-1/lib/forge-std"]
	path = packages/spvm-1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
