/postgres_gatewayapi
/postgres_enforcer
/postgres_proposer
/target
.env
Cargo.lock
.vscode
*venv*
# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
